@model IEnumerable<FE_AgentGuard.Models.Models.Target>

@{
    ViewData["Title"] = "Index";
}

<h1>מטרות</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                שם
            </th>
            <th>
                תפקיד
            </th>
            <th>
                מיקום בציר X
            </th>
            <th>
                מיקום בציר Y
            </th>
            <th>
                חוסל?
            </th>
            <th>
                תמונה
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.x)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.y)
            </td>
            <td>
                @(item.is_active ?"חי": "חוסל")
            </td>
            <td>
               <img src="@item.photoUrl" alt="Photo of @item.name" class="agent-photo" />
            </td>
            <td>
                    <div class="btn btn-primary"><a asp-action="Details" asp-route-id="@item.Id">Details</a> </div>
            </td>
        </tr>
}
    </tbody>
</table>
