@model FE_AgentGuard.Models.Models.Mission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agent.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Target)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Target.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.missionStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.missionStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.remainingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.remainingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
