@model IEnumerable<FE_AgentGuard.Models.Models.Mission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.missionStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remainingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Agent.nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Target.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.distance)
                </td>
                <td>
                    @if (item.status == BE_AgentGuard.Enums.StatusMission.PENDING)
                    {
                        <div>----</div>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.missionStart)
                    }
                </td>
                <td>
                    @if (item.status == BE_AgentGuard.Enums.StatusMission.PENDING)
                    {
                        <div>----</div>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.duration)
                    }
                </td>
                <td>
                    @if (item.status == BE_AgentGuard.Enums.StatusMission.PENDING)
                    {
                        <div>----</div>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.remainingTime)
                    }
                </td>
                <td>
                    @if (item.status == BE_AgentGuard.Enums.StatusMission.PENDING)
                    {
                        <form asp-action="assigned" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-primary">ציוות</button>
                        </form>
                    }
                    else
                    {
                        <div class="btn btn-secondary disabled">בפעולה</div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
